
.home {
    background-image: url(../images/flag.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: floralwhite;
}

.china {
	background-image: url(../images/shanghai.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: floralwhite;

}

.lagos {
	background-image: url(../images/lekki.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: floralwhite;
}